:root{
  --clr-text-primary: #0E0E11;
  --clr-text-secondary: #41403E; 
  --clr-text-silver: #706F6E;
  --clr-text-active: #1B73A5;
  --clr-text-100: #A09F9F;

  --clr-green: #59A47E;
  --clr-red: #E42016;
  --clr-bg-slogan: #FEE5CF;

  --clr-white: #fff;

  --clr-mint-cream: #D7E4DD;


  --clr-filter-btn-items: #D0CEC8;

  --clr-project-1: #EDF3F0;
  --clr-project-2: #FFF0E6;
  --clr-project-3: #FDEDE9;
  --clr-project-4: #F5F3F0;

  --clr-bg-footer-social-media:#41403E;

  



  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --fs-12: .75rem;
  --fs-14: .875rem;
  --fs-16: 1rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem; 
  --fs-36: 2.25rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;

  /* 45rem -> 768px */
  /* 62rem -> 992px */
  /* 71.25rem -> 1140px */

  --media-query-mobile: 18rem;
  --media-query-tablet: 45rem; 
  --media-query-laptop-desktop: 62rem; 
  --media-query-laptop: 71.25rem;
  --media-query-desktop: 88.5rem;

  --fs-nav: var(--fs-14);
  --fs-primary-header: var(--fs-24);
  --fs-sedondary-header: var(--fs-20);

  --fs-menu-text: var(--fs-14);

  --fs-title-item: var(--fs-12);
  --fs-title-price: var(--fs-12);
  --fs-title-price-total: var(--fs-16);

  --fs-btn-item: var(--fs-12);
  --fs-btn: var(--fs-14);

  --fs-services-title:  var(--fs-16);
  --fs-services-desc:  var(--fs-14);

  --fs-mail-location: var(--fs-14);

  --fs-slogan: var(--fs-16);

  --fs-btn-items-filter: var(--size-14);

  --fs-slider-title: var(--size-20);

  --line-height-slider-title: var(--size-20);

  


  --size-6: .375rem;
  --size-7: .4375rem;
  --size-8: .5rem;
  --size-10: .625rem;
  --size-12: .75rem;
  --size-14: .875rem;
  --size-15: .9375rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-22: 1.375rem;
  --size-23: 1.4375rem;
  --size-24: 1.5rem;
  --size-36: 2.25rem;
  --size-48: 3rem;
  --size-64: 4rem;
  --size-96: 6rem;

  --border-radius-search: var(--size-10);
  --border-radius-slider: var(--size-10);
  --border-radius-project: var(--size-10);
  --border-radius-btn-item: var(--size-10);
  --border-radius-item: var(--size-12);
  --border-radius-item-btn-filter: var(--size-8);

  --padding-content: var(--size-16);

}

@media only screen and (min-width: 20.0625rem){
  :root{

    --media-query-mobile: 720px;

    --fs-nav: var(--fs-14);
    --fs-primary-header: var(--fs-24);
    --fs-sedondary-header: var(--fs-primary-header);
    --fs-menu-text: var(--fs-16);
    --fs-btn-item: var(--fs-nav);
    --fs-btn: var(--fs-nav);

    --fs-title-item: var(--fs-16);
    --fs-title-price: var(--fs-14);
    --fs-title-price-total: var(--fs-24);

    --fs-services-title:  var(--fs-16);
    --fs-services-desc:  var(--fs-14);

    --border-radius-search: var(--size-8);
    --border-radius-slider: var(--size-24);
    --border-radius-project: var(--size-16);
    --border-radius-btn-item: var(--size-8);
    --border-radius-item: var(--size-14);
    --border-radius-item-btn-filter: var(--size-12);

    --fs-mail-location: var(--fs-14);

    --fs-slogan: var(--fs-24);

    --fs-btn-items-filter: var(--size-16);

    --fs-slider-title: var(--size-36);

    --line-height-slider-title: var(--size-48);

  --padding-content: var(--size-24);



  }
}

@media only screen and (min-width: 48rem){
  :root{

    --media-query-mobile: 1140px;


    --fs-nav: var(--fs-14);
    --fs-primary-header: var(--fs-36);
    --fs-sedondary-header: var(--fs-primary-header);
    --fs-menu-text: var(--fs-20);
    --fs-btn-item: var(--fs-nav);
    --fs-btn: var(--fs-nav); 

    --fs-title-item: var(--fs-16);
    --fs-title-price: var(--fs-14);
    --fs-title-price-total: var(--fs-24);

    --fs-services-title:  var(--fs-20);
    --fs-services-desc:  var(--fs-16);

    --border-radius-search: var(--size-10);
    --border-radius-slider: var(--size-24);
    --border-radius-project: var(--size-16);
    --border-radiu-btn-item: var(--size-8);
    --border-radius-item: var(--size-16);
    --border-radius-item-btn-filter: var(--size-12);

    --fs-mail-location: var(--fs-12);

    --fs-slogan: var(--fs-36);

    --fs-btn-items-filter: var(--size-16);

    --fs-slider-title: var(--size-48);

    --line-height-slider-title: var(--size-56)
  }
  
}

@media only screen and (min-width: 75rem){
  :root{

    --media-query-mobile: 1416px;

    --fs-nav: var(--fs-12);
    --fs-primary-header: var(--fs-36);
    --fs-sedondary-header: var(--fs-primary-header);
    --fs-menu-text: var(--fs-20);
    --fs-btn-item: var(--fs-14);
    --fs-btn: var(--fs-nav);

    --fs-title-item: var(--fs-16);
    --fs-title-price: var(--fs-14);
    --fs-title-price-total: var(--fs-24);

    --fs-services-title:  var(--fs-24);
    --fs-services-desc:  var(--fs-16);

    --border-radius-search: var(--size-10);
    --border-radius-slider: var(--size-24);
    --border-radius-project: var(--size-16);
    --border-radiu-btn-item: var(--size-8);
    --border-radius-item: var(--size-16);
    --border-radius-item-btn-filter: var(--size-12);

    --fs-mail-location: var(--fs-12);

    --fs-slogan: var(--fs-36);

    --fs-btn-items-filter: var(--size-16);

    --fs-slider-title: var(--size-36);

    --line-height-slider-title: var(--size-64)
  }
  
}


@font-face {
  font-family: AvertaSemiBold;
  src: url("./font/Averta/Averta\ Cyrillic\ SemiBold.otf");
}


@font-face {
  font-family: AvertaRegular;
  src: url("./font/Averta/Averta\ Cyrillic\ Regular.otf");
}


@font-face {
  font-family: AvertaBold;
  src: url("./font/Averta/Averta\ Cyrillic\ Bold.otf");
}


@font-face {
  font-family: AvertaLight;
  src: url("./font/Averta/Averta\ Cyrillic\ Light.otf");
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}


a{
  text-decoration: none;
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

button{
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body{
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* width: max-content;  */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* utiliti classes */

.line-height-slider-title{
  line-height: var(--line-height-slider-title);
}

.clr-text-primary{
  color: var(--clr-text-primary);
}

.clr-bg-primary{
  background-color: var(--clr-text-primary);
}

.clr-text-secondary{
  color: var(--clr-text-secondary);
}

.clr-text-silver{
  color: var(--clr-text-silver);
}

.clr-text-active{
  color: var(--clr-text-active);
}

.clr-text-100{
  color: var(--clr-text-100);
}


.clr-green{
  color: var(--clr-green);
}

.clr-red{
  color: var(--clr-red);
}

.bg-red{
  background-color: var(--clr-red);
}

.clr-slogan{
  background-color: var(--clr-bg-slogan);
}


.clr-project-1{
  background-color: var(--clr-project-1);
}

.clr-project-2{
  background-color: var(--clr-project-2);
}

.clr-project-3{
  background-color: var(--clr-project-3);
}

.clr-project-4{
  background-color: var(--clr-project-4);
}

.clr-bg-footer-social-media{
  background-color: var(--clr-bg-footer-social-media);
}


.clr-white{
  color: var(--clr-white);
}


.bg-white{
  background-color: var(--clr-white);
}

.fs-nav{
  font-size: var(--fs-nav);
}

.fs-primary-header{
  font-size: var(--fs-primary-header);
}

.fs-sedondary-header{
  font-size: var(--fs-sedondary-header);
}

.fs-menu-text{
  font-size: var(--fs-menu-text);
}

.fs-title-item{
  font-size: var(--fs-title-item);
}

.fs-title-price{
  font-size: var(--fs-title-price);
}

.fs-title-price-total{
  font-size: var(--fs-title-price-total);
}

.fs-btn-item{
  font-size: var(--fs-btn-item);
}

.fs-btn{
  font-size: var(--fs-btn);
}

.fs-btn-items-filter{
  font-size: var(--fs-btn-items-filter);
}

.fs-services-title{
  font-size: var(--fs-services-title);
}

.fs-services-desc{
  font-size: var(--fs-services-desc);
}

.fs-12{
  font-size: var(--fs-12);
}

.fs-14{
  font-size: var(--fs-14);
}

.fs-16{
  font-size: var(--fs-16);
}


.fs-slider-title{
  font-size: var(--fs-slider-title);
}



.fs-20{
  font-size: var(--fs-20);
}

.line-height-22{
  line-height: var(--size-22);
}

.line-height-24{
  line-height: var(--size-24);
}

.fw-300{
  font-weight: var(--fw-300);
}

.fw-400{
  font-weight: var(--fw-400);
}

.fw-600{
  font-weight: var(--fw-600);
}

.fw-700{
  font-weight: var(--fw-700);
}


.border-radius-fixes-8{
  border-radius: var(--size-8);
}

.border-radius-fixes-12{
  border-radius: var(--size-12);
}

.border-radius-fixes-16{
  border-radius: var(--size-16);
}


.border_radius_search{
  border-radius: var(--border-radius-search);
}

.border_radius_slider{
  border-radius: var(--border-radius-slider);
}


.border_radius_project{
  border-radius: var(--border-radius-project);
}



.border_radius_btn_item{
  border-radius: var(--border-radius-btn-item);
}



.border_radius_item{
  border-radius: var(--border-radius-item);
}


.border_radius_item_btn_filter{
  border-radius: var(--border-radius-item-btn-filter);
}


.fs-mail-location{
  font-size: var(--fs-mail-location);
}

.fs-slogan{
  font-size: var(--fs-slogan);
}

.ff-bold{
  font-family: AvertaBold;
}

.ff-regular{
  font-family: AvertaRegular;
}

.ff-semin-bold{
  font-family: AvertaSemiBold;
}


.ff-light{
  font-family: AvertaLight;
}


.text-underline{
  text-decoration: underline;
}

.text-center{
  text-align: center;
}

.text-throw{
  text-decoration: line-through;
}



.mt-16{
  margin-top: var(--size-16);
}

.mb-36{
  margin-bottom: var(--size-36);
}

.mb-16{
  margin-bottom: var(--size-16);
}

.mb-24{
  margin-bottom: var(--size-24);
}

.mb-10{
  margin-bottom: var(--size-10);
}

.mb-30{
  margin-bottom: 30px;
}

.circle_btn{
  width: var(--size-48);
  height: var(--size-48);
  border-radius: 100%;
  background-color: var(--bg_custom_circle);
}

.width-100{
  width: 100%;
}


/* -------------------------------------------------- */



.laptop_active_nav{
  display: block !important;
}

@media only screen and (min-width: 48rem){
  .extend_nav_list{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    padding: var(--size-24);
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.07), 0px 40px 34.875px rgba(0, 0, 0, 0.04725), 0px 10px 13px rgba(0, 0, 0, 0.035), 0px 4.375px 4.625px rgba(0, 0, 0, 0.02275);
  }

  .extend_nav_list li{
    list-style-type: none;
  }

  .extend_nav_list :not(:last-child){
    margin-bottom: var(--size-12);
  }
}


/* display none elements */
.project .project_items div button, .exotic_food_incredients, .food_testimonials{
  display: none;
}

.item .div_container .price_reducer_div button, .desktop_projects{
  display: none;
}


.user_shop_tablet{
  display: none;
}


@media only screen and (min-width: 20.0625rem){
  .user_shop_tablet{
    display: flex;
    gap: var(--size-36);
  }

  .user_shop_tablet :not(:first-child){
    position: relative;
  }

  .user_shop_tablet :not(:first-child)::after{
    content: attr(data-wishlist);
    position: absolute;
    justify-content: center;
    align-items: center;
    color: var(--clr-white);
    font-size: var(--fs-12);
    font-family: AvertaBold;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    top: -8px;
    right: -6px;
    background-color: var(--clr-red);
    display: var(--display_none);
  }
}


@media only screen and (min-width: 48rem){
  .user_shop_tablet{
    display: none;
  }
}


.active_nav_mobile{
  transform: translateX(0%);
  transition: .5s;
}


.disable_nav_mobile{
  transform: translateX(100%);
  transition: .5s;
}

/* general style  */

.container{
   margin-inline: auto;
   max-width: var(--media-query-mobile);
   width: 100%;
   padding-inline: var(--padding-content);
}


@media only screen and (min-width: 20.0625rem){
  .container{
    max-width: var(--media-query-tablet);
    width: 100%;
    
  }
}


@media only screen and (min-width: 48rem){
  .container{
    max-width: var(--media-query-laptop);
    width: 100%;
   
  }
}


@media only screen and (min-width: 75rem){
  .container{
    padding: 0;
    max-width: 1416px;
    width: 100%;
    margin: auto;
  }
}


.flex_align_custom{
  display: flex;
  align-items: center;
  gap: var(--gap-custom);
}

.flex{
  display: flex;
}


.align_center{
  align-items: center;
}

.justify_center{
  justify-content: center;
}

.f_d_column{
  flex-direction: column;
}

.gap_custom{
  gap: var(--gap_custom);
}

.gap_testimonials{
  gap: 38px;
}

.justify_between{
  justify-content: space-between;
}

.flex_justify{
  display: flex;
  justify-content: space-between;
}

.flex_align{
  display: flex;
  align-items: center;
}

.flex_justify_center_item{
  display: flex;
  justify-content: center;
}

.flex_center_column_row{
  display: grid;
  place-items: center;
}

.flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex_justify_center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_general_style{
  outline: none;
  border: 0;
  background-color: transparent;
  width: 100%;
  font-weight: var(--fw-400);
  font-size: var(--fs-12);
  line-height: var(--size-16);
  font-family: AvertaRegular;
}

input::placeholder{
  font-weight: var(--fw-400);
  font-size: var(--fs-12);
  line-height: var(--size-16);
  font-family: AvertaRegular;
}



.btn_add_to_card{
  background-color: var(--clr-red);
  padding-inline: var(--size-23);
  padding-block: var(--size-8);
  color: var(--clr-white);
  cursor: pointer;
}





.active_btn_filter{
  background-color: var(--clr-text-primary);
  color: var(--clr-white);
}
  

.btn_filter_items_padding{
  padding-inline: var(--size-15);
  padding-block: var(--size-6);
  border: 1px solid transparent;
}

@media only screen and (min-width: 20.0625rem){
  .btn_filter_items_padding{
    padding-block: var(--size-12);
  }
}


.items_filter_btn{
  color: var(--clr-text-secondary);
  border: 1px solid var(--clr-filter-btn-items);
}


/* element style */



/* mobile toggle navigation style */


.desktop-style-navigation{
  background-color: var(--clr-white);
  position: fixed;
  padding-top: var(--size-12);
  padding-inline: var(--size-16);
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  bottom: 0;
}

.desktop-style-navigation div{
  display: flex;
  align-items: center;
  gap: var(--size-12);
  border-bottom: 1px solid var(--clr-project-4);
  padding-bottom: var(--size-12);
}

.desktop-style-navigation nav{
  padding-top: var(--size-16);
  padding-inline: var(--size-8);
}

.desktop-style-navigation nav li{
  list-style: none;
  margin-bottom: var(--size-24);
}

.desktop-style-navigation nav li a{
  color: var(--clr-text-silver);
  font-weight: var(--fw-400);
  font-size: var(--fs-nav);
  font-family: AvertaRegular;
}

/* 
.header_nav_laptop{
  position: relative;
} */




/* navigation style  */

.btn_catalog{
  background-color: var(--clr-text-primary);
  color: var(--clr-white);
  width: 100%;
  padding-block: var(--size-8);
  justify-content: center;
  align-items: center;
  gap: var(--size-10);
  font-family: AvertaSemiBold;
  line-height: 22px;
}

@media only screen and (min-width: 20.0625rem){
  .btn_catalog{
    width: auto;
    padding-inline: var(--size-24);
    padding-block: var(--size-7);
    line-height: 22px;
  }
}




.navigation{
  align-items: center;
  padding-block: var(--size-12);
  border-bottom: 1px solid var(--clr-project-4);
}

@media only screen and (min-width: 48rem){
  .navigation{
    position: relative;
  }
}



@media only screen and (min-width: 20.0625rem){
  .catalog_btn_email_search{
    display: flex;
    justify-content: space-between;
    margin-top: var(--size-12);
  }
}

@media only screen and (min-width: 48rem){
  .catalog_btn_email_search{
    margin: 0;
  }
}



/* laptop and destop style */

@media only screen and (min-width: 48rem){


  .column_center_header{
    display: none;
  }

  .navigation .column_navigation_odd .mobile-style{
    display: none;
  }


  .navigation .column_navigation_odd .laptop-style{
    display: flex; 
  }


  .laptop-style{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }

  .laptop-style nav ul{
    list-style-type: none;
  }

  
}


.location_mail_search{
  display: flex;
  justify-content: space-between;
  padding-block: var(--size-12);
}

@media only screen and (min-width: 20.0625rem){
  .location_mail_search{
    gap: var(--size-12);
    padding-block: 0;
  }

  .location_mail_search span{
    gap: var(--size-10);
  }

  .location_mail_search span img{
    display: block !important;
  }
}


@media only screen and (min-width: 48rem){
  .location_mail_search{
    display: none;
  }
}


@media only screen and (min-width: 62rem){
  .search{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search_header{
    gap: var(--size-24);
    align-items: center;
  }

  .search_header .logo a img{
    width: 170px;
  }

  .search_column_odd_header{
    gap: var(--size-24);
  }
}


.search_type{
  padding-block: var(--size-12);
}


.search_type .search{
  background-color: var(--clr-project-4);
  padding-block: var(--size-8);
  padding-inline: var(--size-16);
  gap: var(--size-12);
  align-items: center;
}


.column_navigation_odd .mobile-style p{
  display: none;
}


@media only screen and (min-width: 20.0625rem){
  .column_navigation_odd .mobile-style p{
    display: block ;
    margin-left: var(--size-12);
  }

  .mobile_phone{
    display: none;
  }
}




@media only screen and (min-width: 48rem){
  .search_header{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}


/* slider style  */


.images_slider{
  position: relative;
  width: 100%;
  height: 134px;
  overflow: hidden;
}

@media only screen and (min-width: 20.0625rem){
    .images_slider{
      height: 360px;
    }
}

@media only screen and (min-width: 48rem){
  .images_slider{
    height: 558px;
  }
}


.images_slider .slider_ul{
 width: 100%;
 position: relative;
 height: 114px;
 transition: 1s ease-in-out;


}

@media only screen and (min-width: 20.0625rem){
  .images_slider .slider_ul{
    height: 100%;
    transition: 1s ease-in-out;
  }
}

.images_slider .slider_ul li{
  position: absolute;
  width: 100%;
  height: 100%;
  list-style-type: none;
 
}

.images_slider .slider_ul li .slider_container{
  position: relative;
  width: 100%;
  height: 100%;
}


.images_slider .slider_ul li .slider_container img{
  object-fit: cover;
  border-radius: var(--border-radius-slider);
  width: 100%;
  height: 100%;
}

.images_slider .slider_ul li .slider_container .slider_text_div{
  padding-top: var(--size-16);
  margin-left: var(--size-20);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 20.0625rem){
  .images_slider .slider_ul li .slider_container .slider_text_div{
    margin-left: var(--size-48);
    padding-top: var(--size-48);
    width: 50%;
  }
  }

@media only screen and (min-width: 48rem){
  .images_slider .slider_ul li .slider_container .slider_text_div{
    width: 80%;
    /* padding-top: var(--size-96);
    padding-left: var(--size-96); */
  }
  }


.images_slider .slider_ul li .slider_container .slider_text_div h1{
  padding-bottom: var(--size-16);
  color: var(--clr-text-primary);
}

@media only screen and (min-width: 20.0625rem){
  .images_slider .slider_ul li .slider_container .slider_text_div h1{
    padding-bottom: var(--size-24);
  }
}


.images_slider .arrow{
  display: none;
}

@media only screen and (min-width: 20.0625rem){
  .images_slider .arrow{
    position: absolute;
    bottom: var(--size-48);
    display: flex;
    gap: var(--size-16);
    left: var(--size-48);
  }


  .images_slider .arrow button{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 1px solid var(--clr-text-primary);
  }
}



.dots{
  display: flex;
  gap: var(--size-10);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
@media only screen and (min-width: 20.0625rem){
  .dots{
    bottom: var(--size-24);
    
  }
}




.active_dots{
  flex: 0 0 24px !important;
}


.dots .btn_dots{
  width: 4px;
  height: 4px;
  border-radius: 100px;
  background-color: var(--clr-text-silver);
  flex: 0 0 4px;
  transition: 1s ease-in-out;
}






/* services style */



@media only screen and (min-width: 20.0625rem){
  .services {
   display: block !important;
   /* margin-block: var(--size-64); */
   margin-top: var(--size-64);
  }

  .services .container div{
    gap: var(--size-24);
  }
}








/* meniu */


.menu_section{
  margin-bottom: var(--size-16);
  margin-top: var(--size-48);
}

.menu{
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--size-10);
  row-gap: var(--size-16);
}

@media only screen and (min-width: 20.0625rem){
  .menu {
    column-gap: var(--size-24);
    row-gap: var(--size-64);
    align-items: center;
    justify-content: center;
  }
}

.menu .menu_element{
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media only screen and (min-width: 20.0625rem){
  .menu .menu_element{
    width: 18%;
    gap: var(--size-12);
  }
}

.menu .menu_element .menu_div_container{
  width: 64px;
  height: 60px;
  border-radius: 100%;
  background-color: var(--clr-project-4);
  box-sizing: border-box;
}

@media only screen and (min-width: 20.0625rem){
  .menu .menu_element .menu_div_container{
    width: 120px;
    height: 120px;
  }
}



.menu .menu_element .menu_div_container img{
  width: 100%;
  height: 100%;
  padding: 6px;
}

@media only screen and (min-width: 20.0625rem){
  .menu .menu_element .menu_div_container img{
    padding: var(--size-12);
  }
}





/* project */



.project .project_items{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-16);
}

@media only screen and (min-width: 20.0625rem){
  .project .project_items{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--size-24);
  }
}




.project h1{
  margin-bottom: var(--size-24);
}

.project .project_items div{
  position: relative;
  padding-inline: var(--size-8);
  padding-block: var(--size-16);
}

@media only screen and (min-width: 20.0625rem){

  .project .project_items div{
    padding-block: var(--size-36);
  }

  .project .project_items div button{
    display: block;
    position: absolute;
    top: var(--size-10);
    right: var(--size-10);
  }
}


.project .project_items div img{
  width: 100%;
}



/* slogan style  */

.slogan{
  position: relative;
  height: 110px;
}

@media only screen and (min-width: 20.0625rem){
  .slogan{
    height: 132px;
    margin-bottom: var(--size-64);
  }

}

.slogan .text_slogan{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

@media only screen and (min-width: 20.0625rem){
  .slogan .text_slogan{
    position: relative;
    width: 50%;
  }

}

.slogan .image_slogan{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("./images/slogan/bg.png");
  background-size: cover;
  background-position: center left ;
  width: 40%;
  border-top-right-radius: var(--size-16);
  border-bottom-right-radius: var(--size-16);
}

@media only screen and (min-width: 20.0625rem){
  .slogan .image_slogan{
    width: 50%;
  }

}


.slogan .image_slogan img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* items style */

.item{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-16);
}


@media only screen and (min-width: 20.0625rem){
  .item{
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--size-24);

  }
}



.items .btn_container{
  margin-bottom: var(--size-24);
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 20.0625rem){
  .items .btn_container{
    justify-content: start;
    gap: var(--size-16);
  }
}

.items .btn_container button{
  line-height: 22px;
}




.item .div_container{
  border: 1px solid var(--clr-filter-btn-items);
  padding: var(--size-15);
  position: relative;
}

@media only screen and (min-width: 20.0625rem){
  .item .div_container{
    padding: var(--size-24);
  }
}


.item .div_container .tags{
  display: none;
}


.news{
  background-color: var(--clr-project-1);
  color: #59A47E;
}

.sale{
  background-color: var(--clr-project-3);
  color: var(--clr-red);
}

.other_text{
  background-color: var(--clr-project-4);
  color: var(--clr-text-secondary);
}

@media only screen and (min-width: 20.0625rem){
  .item .div_container .tags{
    display: flex;
    gap: var(--size-8);
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    position: absolute;
    top: var(--size-16);
  }

  .item .div_container .tags button{
    border-radius: var(--size-8);
    padding-block: 4px;
    padding-inline: var(--size-10);
    font-weight: var(--fw-700);
    font-family: AvertaBold;
    font-size: var(--fs-12);
  }
}


  

.item .div_container .div_images{
  width: 100%;
  padding-bottom: var(--size-18);
}

.item .div_container .div_images img{
  width: 100%;
}

.item .div_container .price_reducer_div{
  align-items: center;
  padding-top: var(--size-8);
  padding-bottom: var(--size-12);
}


@media only screen and (min-width: 20.0625rem){

  .item .div_container .price_reducer_div{
    justify-content: center;
    gap: var(--size-16);
    padding-block: var(--size-22);
    
  }

  .item .div_container .price_reducer_div div {
    gap: var(--size-6);
  }


  .item .div_container .price_reducer_div div button{
    display: block;
    font-weight: var(--fw-400);
    font-family: AvertaRegular;
    font-size: var(--size-12);
    color: var(--clr-text-secondary);
    padding-block: 4px;
    padding-inline: var(--size-6);
    background-color: var(--clr-project-4);
    border-radius: var(--size-8);
  }
}




.item .div_container .price_reducer_div p:first-child{
  font-size: var(--fs-12);
}


.item .div_container .price_reducer_div p:last-child{
  font-size: var(--fs-16);
  text-align: center;
}






/* exotic food */

.exotic_food_container{
  margin-top: var(--size-48);
  margin-bottom: var(--size-24);
}


.exotic_food{
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-16);
}

@media only screen and (min-width: 20.0625rem){
  .exotic_food{
    grid-template-columns: 1fr 1fr;
    gap: var(--size-24);
  }

}

.exotic_food div{
  padding: var(--size-24);

}

@media only screen and (min-width: 20.0625rem){
  .exotic_food div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 344px;
    padding: var(--size-36);
  }

}
.exotic_food div:nth-child(1){
  background-image: url("./images/ads/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.exotic_food div  button{
  line-height: 22px;
  /* width: 100%; */
  padding-block: var(--size-14);
  margin-top: var(--size-16);
}


@media only screen and (min-width: 20.0625rem){
  .exotic_food div button{
    padding-inline: var(--size-24);
    margin-top: 0;
    align-self: flex-start;
    line-height: 22px;
    /* width: auto; */
  }

}



.exotic_food div:nth-child(2){
  background-image: url("./images/ads/2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}




/* mobile project style */

.mobile_project{
  margin-block: var(--size-48);
}


@media only screen and (min-width: 20.0625rem){
  .mobile_project{
    display: none;
  }

  .desktop_projects{
    display: block;
  }
}





/* exotic food incredients */


@media only screen and (min-width: 20.0625rem){

  .exotic_food_incredients{
    display: block;
  }
  
  .exotic_food_incredients .container{
    position: relative;
    
  }

 
  .exotic_food_incredients .container div div ul li{
    position: relative;
    list-style: none;
    margin-left: var(--size-10);
    display: flex;
   
  }
  
  .exotic_food_incredients .container div div ul li p{
    font-size: var(--fs-16);
    font-family: AvertaRegular;
    font-weight: var(--fw-400);
    color: var(--clr-text-secondary);
  }



  .exotic_food_incredients .container div div ul li::before{
    content: "\2022";
    color: var(--clr-red);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-right: var(--size-18);
  
  }

  .exotic_food_incredients  button{
    padding-inline: var(--size-23);
    padding-block: var(--size-12);
    border: 1px solid var(--clr-mint-cream);
  }


  .exotic_food_incredients .images_about{
    
    z-index: 1;
    padding-bottom: 100px;
    padding-top: var(--size-64);
  }

  .exotic_food_incredients .bg_css{
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;
    z-index: -1;
    background-image: url("./images/about/bg.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    
  }
}







/* festimonials food */

.testimonials_margin :not(:first-child){
  margin-left: var(--size-24);
  outline: 4px solid purple;
}

@media only screen and (min-width: 20.0625rem){
  .food_testimonials{
    overflow: hidden;
    display: block;
    flex-direction: column;
    /* width: 100%; */
    width: max-content;
    /* height: 500px; */
    padding-block: var(--size-64);
  }

  .food_testimonials .next_prev button{
    background-color: var(--clr-white);
    gap: var(--size-16);
  }


  .food_testimonials .testimpnials_food .testimonials{
    padding: var(--size-24);
    /* flex: 0 0 40%; */
    background-color: var(--clr-white);
    /* height: auto; */
  }

  .food_testimonials .testimpnials_food {
    position: relative;
    transition: .5s ease;
    height: 335px;
  }

  /* .food_testimonials .testimpnials_food::after{
    content: "";
    display: block;
    clear: both;
  } */

  .food_testimonials .testimpnials_food .testimonials{
    position: absolute;
    width: 40%;
    /* height: 500px; */
  }
}






/* footer */


footer{
  padding-block: var(--size-48);
}

@media only screen and (min-width: 20.0625rem){
  footer{
    padding-block: var(--size-64);
    /* width: max-content; */
  }
}

footer .container .footer_container{
  display: flex;
  flex-direction: column-reverse;
  gap: var(--size-24);
}

@media only screen and (min-width: 20.0625rem){
  footer .container .footer_container{
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

footer .container .footer_container  .container_informatia{
  display: none;
}

footer .container .footer_container  .container_magazin{
  display: none;
}




footer .container .footer_container .contacte_magazin{
  display: grid; 
  grid-template-columns: 1fr 1fr;
  gap: var(--size-16);
}

@media only screen and (min-width: 20.0625rem){
  footer .container .footer_container .contacte_magazin{
    grid-template-columns: 1fr;
    grid-column: 7/11;
    gap: var(--size-24);
  }
}




footer .container .footer_container .logo_social_media{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media only screen and (min-width: 20.0625rem){
  footer .container .footer_container .logo_social_media{
    align-items: flex-start;
    text-align: left;
    grid-column: 1/5;
  }
}

footer .container .footer_container .logo_social_media ul{
  display: flex;
  gap: var(--size-12);
  margin-top: var(--size-24);
  margin-bottom: var(--size-16);
}


footer .container .footer_container .logo_social_media ul li{
  width: 48px;
  height: 48px;
  background-color: var(--clr-text-secondary);
  border-radius: 100%;
}

footer .container .footer_container .logo_social_media ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

footer .container .footer_container .logo_social_media .created_container{
  margin-top: var(--size-24);
}

footer .container .footer_container .logo_social_media div .created a{
  margin-right: 4px;
}

footer .container .footer_container  .contacte_magazin div:nth-child(1) ul{
  display: flex;
  flex-direction: column;
  gap: var(--size-10);
}


footer .container .footer_container  .contacte_magazin div:nth-child(1) ul li{
  list-style-type: none;
}


footer .container .footer_container  .contacte_magazin div:nth-child(2) .location_magazin{
  display: flex;
  flex-direction: column;
  gap: var(--size-10);
}



footer .container .footer_container  .contacte_magazin div:nth-child(2) .location_magazin button{
  border: 1px solid var(--clr-text-secondary);
  padding-block: var(--size-6);
  /* align-self: auto; */
  justify-content: center;
  /* text-align: center;
  align-self: center; */
}

@media only screen and (min-width: 20.0625rem){
  footer .container .footer_container  .contacte_magazin div:nth-child(2) .location_magazin button{
    align-self: flex-start;
    padding-inline: var(--size-16);
  }
}

footer .container .footer_container  .contacte_magazin div:nth-child(2) .location_magazin button img{
  display: none;
}

@media only screen and (min-width: 20.0625rem){
  footer .container .footer_container  .contacte_magazin div:nth-child(2) .location_magazin button img{
    display: block;
  }
}

footer .container .footer_container  .contacte_magazin div:nth-child(2) .location_magazin button p{
  line-height: 22px;
}







































/* media query */

.laptop-style, .tablet-style, .services{
  display: none;
}


.location_mail_search span img{
  display: none;
}











